@import url("https://fonts.googleapis.com/css2?family=Signika&display=swap");


body {
  font-family: "Signika", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  color: #364B60;
}

* {
  margin: 0;
  padding: 0;
}
